body {
	font-family: 'Electrolize', sans-serif;
}

header{
	background:url('cars_wallpaper_1.png') left;
	padding-top:30px;
	color:#fff;
	padding-bottom:30px;
}


main{
	padding-top:50px;
}

#app{
	background:#fff;
}

#btn_filter{
	margin-left:15px;
}

#markeSelect{
	margin-left:15px;
}

.brandImg img{
	max-width:200px;
}

#result {
padding: 30px;
}

.separator{
	height:1px;
	background:#ddd;
	margin-top:5px;
	margin-bottom:10px;
}

@media (min-width: 768px)
{
.row-realtive {position: relative;}
.col-border-padding{padding-left: 15px;}

.col-border{
	padding: left 0;;
	position: static;
}

.col-border:before{
	content: "";
	position: absolute;
	top:0;
	bottom:0;
	border-left: 1px solid black;
}

}